In [166]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
from sklearn import tree
import pickle
from sklearn.externals.six import StringIO  
from IPython.display import Image  
from sklearn.tree import export_graphviz

In [167]:
data = pd.read_csv('DTloans.csv')

In [168]:
data.head()

,FullyPaid,IntRate,Installment,logannual.inc,FICO,RevBal,Purpose,Unnamed: 7,Unnamed: 8
0,Yes,0.12,829.10,11.350407,737,28854,debt_consolidation,NaN,NaN
1,Yes,0.11,228.22,11.082143,707,33623,credit_card,NaN,NaN
2,Yes,0.14,366.86,10.373491,682,3511,debt_consolidation,NaN,NaN
3,Yes,0.10,162.34,11.350407,712,33667,debt_consolidation,NaN,NaN
4,Yes,0.14,102.92,11.299732,667,4740,credit_card,NaN,NaN

In [169]:
data['Purpose'].unique()

array(['debt_consolidation', 'credit_card', 'all_other',
       'home_improvement', 'small_business', 'major_purchase',
       'educational'], dtype=object)

In [170]:
X = data.iloc[: , 1:7]

In [171]:
def convert_to_int(word):
    word_dict = {'debt_consolidation':1, 'credit_card':2, 'all_other':3,
       'home_improvement':4, 'small_business':5, 'major_purchase':6, 'educational':7}
    return word_dict[word]

In [172]:
X['Purpose'] = X['Purpose'].apply(lambda x : convert_to_int(x))

In [173]:
X.head()

    IntRate   Installment  logannual.inc  FICO  RevBal  Purpose
0       0.12       829.10      11.350407   737   28854        1
1       0.11       228.22      11.082143   707   33623        2
2       0.14       366.86      10.373491   682    3511        1
3       0.10       162.34      11.350407   712   33667        1
4       0.14       102.92      11.299732   667    4740        2

In [177]:
Y = data['FullyPaid'].replace(to_replace =["Yes", "No"], value = [0 , 1])

In [178]:
Y.head(10)

0    0
1    0
2    0
3    0
4    0
5    0
6    1
7    1
8    0
9    0
Name: FullyPaid, dtype: int64

In [181]:
from sklearn.linear_model import LinearRegression

In [182]:
regressor = LinearRegression()

In [183]:
regressor.fit(X,Y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [184]:
pickle.dump(regressor, open('model.pkl', 'wb'))

In [185]:
model = pickle.load(open('model.pkl','rb'))